.shopCategoryProduct {
  width: 100%;
  margin: 1.25rem 1.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5rem;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
.shopCategoryProduct .item {
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
