.translatedBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.313rem;
  height: 90vh;
  /*width: fit-content;*/
  font-family: "B Roya", serif;
}
.translatedBooks h1 {
  color: #171717;
  font-size: 3.125rem;
  font-weight: 600;
}
.translatedBooks hr {
  width: 18.75rem;
  height: 0.375rem;
  border-radius: 0.625rem;
  background: #252525;
}
.translated-Book {
  margin-top: 3.125rem;
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  /*width: 300px;*/
  /*margin-left: 200px;*/
}
.translated-Book .item {
  width: 18.75rem;
}
