.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  /*margin-top: 30px;*/
  padding-top: 1.875rem;
  background-color: #75102b;

  height: 10rem;
  font-family: "B Roya", serif;
  width: 100%;
  margin-top: 1.2rem;
}
.footerLogo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.footerLogo {
  color: #faecfc;
  font-size: 2.875rem;
}
.footerLinks {
  display: flex;
  list-style: none;
  gap: 3.125rem;
  color: #252525;
  font-size: 1.25rem;
}
.footerLinks li {
  cursor: pointer;
}

.footerIconsContainer {
  padding-top: 0.625rem;
  /*background: #fbfbfb;*/
  /*border: 1px solid #ebebeb;*/
  color: #faecfc;
}
.footerCopyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  margin-bottom: 1.25rem;
  color: #faecfc;
  font-size: 1.25rem;
}
.footerCopyright hr {
  width: 80%;
  border: none;
  border-radius: 0.625rem;
  height: 0.19rem;
  background: #faecfc;
}
.footerIconsContainer img,
.footerLogo img {
  width: 2.5rem;
}
.footerLinks {
  color: #faecfc;
}
.seeker_logo {
  font-family: "B Kourosh", serif;
  letter-spacing: -3px;
  color: #faecfc;
  font-size: 2.375rem; /*color: #000000;*/
}
.rule {
  color: #c8c6c9;
  font-size: 1rem;
  /*text-align: center;*/
  line-height: 10.2px;
}

@media (max-width: 1280px) {
  .footer {
    height: 9rem;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .footer {
    height: 7rem;
  }
  .footerLinks {
    font-size: 1rem;
  }
  .rule {
    font-size: 0.7rem;
  }
}
@media (max-width: 800px) {
  .footer {
    height: 6.5rem;
    gap: 0.5rem;
  }
  .footerLinks {
    font-size: 0.7rem;
  }
  .rule {
    font-size: 0.5rem;
  }
  .seeker_logo {
    font-size: 1.5rem;
  }
  .footerLogo img {
    width: 2rem;
    height: auto;
  }
  .footerLinks {
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .footerCopyright {
    gap: 0.3rem;
  }
  .footer {
    height: 6rem;
    gap: 0.5rem;
  }
  .footerLogo {
    gap: 0.5rem;
  }
}
