.bookDisplay {
  display: flex;
  margin: 1px auto;
  background-color: #f5f4f3;
  padding: 1.25rem;
  width: fit-content;
  font-family: "B Roya", serif;
  /*direction: ltr;*/
}

.productDisplayLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.englishProductDisplayRight {
  direction: ltr;
  height: fit-content;
  margin: 1px 0.625rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.188rem;
}

.farsiProductDisplayRight {
  height: fit-content;
  margin: 1px 8.125rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.188rem;
}

.bookName {
  color: #3d3d3d;
  font-size: 3.75rem;
}

.productPrice {
  color: #cf2150;
}

.buyBtn {
  padding: 1.25rem 2.5rem;
  width: 15.625rem;
  font-size: 1rem;
  color: white;
  background-color: #cf2150;
  margin: 1px auto 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.buyBtn:hover {
  background-color: #be1f4a;
}

.buyBtn:active {
  background-color: #be1f4a;
}

.bookInformation {
  line-height: 4.375rem;
}

.productDisplayLeft {
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

div span {
  margin: 0.625rem;
}

.bookInformation div {
  width: fit-content;
  font-size: 1.563rem;
  color: #464646;
}

@media (max-width: 1024px) {
  .bookName {
    font-size: 2.55rem;
  }
  .bookDisplay {
    padding: 0rem;
  }
  .farsiProductDisplayRight {
    margin: 1px 5rem;
  }
  .englishProductDisplayRight {
    margin: 1px 5rem;
  }
}
@media (max-width: 800px) {
  .bookDisplay {
    display: flex;
    flex-direction: column;
    font-size: 2.55rem;
  }
  .bookDisplay {
    padding: 0rem;
  }
  .farsiProductDisplayRight {
    margin: 1px 5rem;
  }
  .englishProductDisplayRight {
    margin: 1px 5rem;
  }
  .englishProductDisplayRight h1 {
    text-align: center;
  }
  .farsiProductDisplayRight h1 {
    text-align: center;
  }
  /*.farsiProductDisplayRight {*/
  /*  justify-content: center;*/
  /*  justify-self: center;*/
  /*  margin: 0.6rem auto;*/
  /*}*/
  /*.englishProductDisplayRight {*/
  /*  justify-content: center;*/
  /*  justify-self: center;*/
  /*  margin: 0.6rem auto;*/
  /*}*/
  .productDisplayImg {
    justify-content: center;
    justify-self: center;
    margin: 0.6rem auto;
  }
}
@media (max-width: 500px) {
  .bookDisplay {
    display: flex;
    flex-direction: column;
    font-size: 2.55rem;
  }
  .bookDisplay {
    padding: 0rem;
    width: 17rem;
  }
  .buyBtn {
    width: 12rem;
    font-size: 1rem;
    /*height: 3rem;*/
  }
  .farsiProductDisplayRight {
    margin: 1px 5rem;
  }
  .englishProductDisplayRight {
    margin: 1px 5rem;
  }
  .productDisplayImg {
    justify-content: center;
    justify-self: center;
    margin: 0.6rem auto;
  }
  .productDisplayMainImg {
    width: 12rem;
    height: auto;
  }
  .bookName {
    display: inline-block;
    width: 12rem;
    font-size: 1.5rem;
  }
  .bookInformation div {
    width: 12rem;

    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  .farsiProductDisplayRight {
    justify-content: center;
    justify-self: center;
    margin: 0.6rem auto;
  }
  .englishProductDisplayRight {
    justify-content: center;
    justify-self: center;
    margin: 0.6rem auto;
  }
  .englishProductDisplayRight .bookInformation div {
    /*background-color: #61dafb;*/
    font-size: 0.9rem;
    line-height: 0.5rem;
  }
}
